html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: sans-serif;
  background-color: black;
  color: white;
  margin: 0;
}

div#root {
  height: 100vh;
  width: 100vw;
}

.splash {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 1000; 
  display: flex;
  justify-content: center;
  align-items: center;

  &__hide {
    visibility: hidden;
    transform: translateY(-500px) scale(0);
    opacity: 0;
    transition: all 0.3s ease;
  }
}

.player {
  &--vimeo {
    height: 100vh;
    width: 100vw;

    iframe {
      height: 100%;
      width: 100%;
    }
  }
}
